<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ol>
      <% for( let i = 0; i < lista.length; i++ ) { %>
          <li>
            <h2>Nombre: <%= lista[i].nombre%></h2>
            <a href="/bandas/id/<%= lista[i].id %>">
              <img class="imgCover" src="/<%= lista[i].cover %>" alt="<%= lista[i].nombre %>">
            </a>
          </li>            
          <% } %>
    </ol>
  </body>
</html>
